.card-front img{  
    height: 100%;
    margin: 0 auto;  
}

.card-back {
    background-image: url("./images/Card_back.png");
    background-size: 100%;
    border-color: grey;
    border-style: solid;
    border-radius: 16px;
    height: 200px;
    width: 200px;
}

.card-front {
    background-size: 100%;
    border-color: grey;
    border-style: solid;
    border-radius: 16px;
    height: 200px;
    width: 200px;
}

.card-back:hover, .card-front:hover {
    border-color: lime;
    border-width: 1.25px;
}

.timer {
    font-size: 26px;
    color: #26a69a;
    margin: 0 87px;
}

.btn {
    margin: 0 45px;
}
